.product-card {
  display: flex;
  padding: 2rem;
  height: 100%;
}

.product-image img {
  margin: 0 auto;
}

.product-info {
  display: flex;
  padding: 4rem;
  flex-direction: column;
  text-align: left;
  border-radius: 2rem;
  gap: 2rem;
}

.product-name {
  font-size: 2rem;
  margin-top: 1rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #e5e5e5;
  color: #333;
}

.product-price {
  font-size: 1.5rem;
}

.prices {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.original-price {
  text-decoration: line-through;
  color: #888;
  margin-right: 1rem;
}

.discounted-price {
  font-weight: bold;
  font-size: 2rem;
}

.discount-percentage {
  color: crimson;
}

.quantity-container {
  display: flex;
  align-items: center;
  gap: 1rem;

  span {
    font-size: 1.5rem;
    font-weight: 700;
  }

  div {
    display: flex;
    align-items: center;
    background-color: #e5e5e5;
    border-radius: 0.5rem;
    min-width: 10rem;
    justify-content: space-between;
  }
}

.quantity-button {
  background-color: transparent;
  font-size: 1.5rem;
  padding: 0.75rem 1.5rem;
  user-select: none;
}

.product-actions {
  display: flex;
  margin-top: 1rem;
  gap: 3rem;
  flex-wrap: wrap;
}

button {
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;

  transition: all 0.2s;
  text-transform: uppercase;
}

.button-action {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1rem 3rem;
  min-width: 20rem;
}
.add-to-cart {
  background-color: #fdcf08;
}

.add-to-cart:hover {
  background-color: #f1c80f;
}

.add-to-wishlist {
  background-color: transparent;
  border: 2px solid #fdcf08;
}

.product-container {
  display: flex;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
}
.swiper-container {
  max-width: 50%;
}

.product-details-container {
  flex: 1;
  background: #f8f8f8;
  border-radius: 1rem;
}

.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
  color: #fdcf08;
}

.swiper-container .swiper-pagination-bullet {
  &-active {
    background: #f1c80f;
  }
}
